/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables */
:root {
  --darkBg: #070504;
  --darkText: #f6ede7;
  --darkPrimary: #c4b1a6;
  --darkSecondary: #2c696e;
  --darkAccent: #fb7418;
}

/* Custom CSS */
body {
  background: var(--darkBg)
}